$text-color: #000000;
$mint-green: #76d7c4;
$pink-border: #FADBD8;

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.principal {
  h1 {
    color: $text-color;
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.principalImage {
  width: 100%;
  position: relative;

  .bannerPrincipal {
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
  }
}

.contenido {
    background-color: $mint-green;
    padding: 2rem; 
    p {
      font-family: "Mooli", sans-serif;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 20px;
    }
  }
  
  .btnBanner {
    display: block; 
    margin: 0 auto; 
    margin-top: 3rem;
    padding: 20px 40px;
    background-color: #FADBD8; 
    color: $text-color; 
    border: none; 
    border-radius: 5px;
    font-family: "Mooli", sans-serif; 
    font-weight: bold;
    font-size: 16px; 
    cursor: pointer; 


    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    }
}
