@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

$mint-green: #76d7c4;
$text-color: #000000;
$text-primary: "Mochiy Pop One", sans-serif;
$text-secundary: "Mooli", sans-serif;

.movimientos-container {
  padding: 20px;
  font-family: $text-secundary;

  @media (max-width: 768px) {
    flex-direction: column;  
  }

  h1 {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-family: $text-primary;
    color: $text-color;

    @media (max-width: 768px) {
      font-size: 1.3rem;
      padding: 0;
    }
  }

  .add-button {
    color: $text-color;
    font-family: $text-secundary;
    font-size: clamp(0.9rem, 2vw, 1.5rem); 
    font-weight: bolder;
    width: 15%;  
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: $mint-green;
    cursor: pointer;
    position: absolute; 
    right: 0;
    margin-right: 2rem;
    transform: translateY(-120%);
    margin-top: -8rem;  

    @media (max-width: 768px) {
      font-size: 1.4rem;  
      margin-top: 1rem;   
      width: 100%;      
      margin-right: 0;   
      transform: none;    
      position: relative; 
    }

    @media (max-width: 480px) {
      font-size: 1.2rem;  
      width: 100%;
    }
  }



  .total-general {
    background-color: $mint-green;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    margin-top: 3rem;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-family: $text-primary;
      color: $text-color;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      @media (max-width: 480px) {
        font-size: 0.9rem;
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: $text-color;

      @media (max-width: 768px) {
        font-size: 1.2rem;
      }

      @media (max-width: 480px) {
        font-size: 1rem;
      }
    }

    @media (max-width: 768px) {
      width: 80%;
      margin-left: 0;
    }

    @media (max-width: 480px) {
      width: 90%;
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

 

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    .modalContent {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      width: 400px;
      position: relative;

      h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
          font-size: 1rem;
        }

        @media (max-width: 480px) {
          font-size: 0.9rem;
        }
      }

      .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        color: #333;
        cursor: pointer;
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          font-size: 1rem;
          margin: 5px 0;

          @media (max-width: 768px) {
            font-size: 0.9rem;
          }

          @media (max-width: 480px) {
            font-size: 0.8rem;
          }
        }

        input,
        select {
          padding: 10px;
          margin-bottom: 10px;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;

          @media (max-width: 768px) {
            font-size: 0.9rem;
          }

          @media (max-width: 480px) {
            font-size: 0.8rem;
          }
        }

        button[type="submit"] {
          padding: 10px;
          background-color: $mint-green;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1rem;
          font-weight: bold;

          &:hover {
            background-color: $mint-green;
          }

          @media (max-width: 768px) {
            font-size: 0.9rem;
          }

          @media (max-width: 480px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .movimientos-table {
    width: 100%;
    margin-top: 6.5rem;
    border-collapse: collapse;
    table-layout: auto;
  
    th,
    td {
      padding: 12px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      word-wrap: break-word;
      box-sizing: border-box; 
    }
  
    th {
      background-color: $mint-green;
      font-family: $text-primary;
    }
  
    td {
      font-family: $text-secundary;
    }
  
    .ingreso {
      color: #00c091;
    }
  
    .gasto {
      color: red;
    }
  
    .tareaIcons {
      display: flex;
      justify-content: center;
      gap: 10px;
  
      .iconEdit,
      .iconDelete {
        cursor: pointer;
        color: #333;
        transition: color 0.3s ease;
      }
  
      .iconEdit:hover {
        color: $mint-green;
      }
  
      .iconDelete:hover {
        color: red;
      }
    }

    @media (max-width: 768px) {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      overflow-x: hidden; 
  
      .movimiento-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        align-items: center;
        margin-bottom: 5px;
        box-sizing: border-box; 
      }
  
      .movimiento-item-name {
        font-weight: bold;
        flex: 1; 
      }
  
      .movimiento-item-value {
        text-align: right;
      }
  
      .tareaIcons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }
    }
  
    @media (max-width: 480px) {
      width: 100%; 
      margin-left: auto;
      margin-right: auto;
  
      /* Diseño adaptado para pantallas pequeñas */
      .movimiento-item {
        flex-direction: column; 
        text-align: center;
        padding: 6px;
        border-bottom: 1px solid #ccc;
      }
  
      .movimiento-item-name {
        font-size: 1.1rem;
        margin-bottom: 5px;
      }
  
      .movimiento-item-value {
        font-size: 1rem;
      }
  
      .tareaIcons {
        justify-content: center;
        margin-top: 10px;
      }
    }
  }
}