$mint-green: #76D7C4;
$pink-border: #FADBD8;
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

.containerRegistro{
    background-color: $mint-green;

    .logoRegistro {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .logo-image {
          max-width: 80%;
          height: auto;
        }
      }
}
