@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

$mint-green: #76d7c4;
$white: #ffffff;
$pink-border: #fadbd8;
$text-color: #000000;
$hover-color: blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  min-height: 100vh;
  background-color: $mint-green;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
    background-color: $white;
  }
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mint-green;

  @media (max-width: 768px) {
    background-color: $white;
  }

  .logo-image {
    height: auto;
    max-width: 100%;

    @media (max-width: 768px) {
      max-width: 60%;
    }
  }
}

.form-container {
  flex: 1;
  width: 100%;
  height: 100vh;
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  h1 {
    font-family: "Mochiy Pop One", sans-serif;
    color: $mint-green;
    margin: 2rem;
    margin-top: 0;

    @media (max-width: 768px) {
      margin: 0;
      padding-bottom: 2rem;
    }
  }

  .formulario-login {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;

    @media (max-width: 768px) {
      padding-bottom: 2rem;
    }

    label {
      font-family: "Mooli", sans-serif;
      color: $text-color;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      font-weight: bold;
      text-align: left;
    }

    .input-with-icon {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      .icon {
        position: absolute;
        left: 10px;
        width: 20px;
        height: 20px;
      }

      input {
        font-family: "Mooli", sans-serif;
        width: 100%;
        padding: 0.5rem 0.5rem 0.5rem 2.5rem;
        border: 1px solid $pink-border;
        border-radius: 5px;
        font-size: 1rem;

        @media (max-width: 480px) {
          padding: 0.5rem 0.5rem 0.5rem 2rem;
          font-size: 0.9rem;
        }
      }
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;

    .forgot-password {
      font-family: "Mooli", sans-serif;
      color: $text-color;
      font-size: 0.9rem;
      cursor: pointer;
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;

      &:hover {
        text-decoration: underline;
        color: $hover-color;
      }
    }

    .login-button {
      font-family: "Mooli", sans-serif;
      background-color: $pink-border;
      color: $white;
      padding: 0.75rem 1.5rem;
      margin-bottom: 1.25rem;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1.5rem;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 80%;

      &:hover {
        background-color: #f5c2d2;
      }
    }

    }
  .registrarse {
    font-family: "Mooli", sans-serif;
    margin-top: 1.5rem;
    color: $text-color;

    span {
      color: $pink-border;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: $hover-color;
      }
    }
  }
}

