@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

$mint-green: #76d7c4;
$white: #ffffff;
$pink-border: #fadbd8;
$text-color: #000000;
$hover-color: blue;
$text-primary: "Mochiy Pop One", sans-serif;
$text-secundary: "Mooli", sans-serif;

.barra-de-progreso-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 100%;

  h3 {
    font-family: $text-secundary;
  }

  .progreso-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .barra-de-progreso {
      width: 80%;
      height: 30px;
      background-color: #e0e0e0;
      border-radius: 6px;
      overflow: hidden;

      @media (max-width: 768px) {
        height: 25px;
      }

      .progreso {
        height: 100%;
        background-color: $mint-green;
        transition: width 0.5s ease-in-out;
      }
    }

    .insignia-derecha {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      transition: opacity 0.5s ease-in-out;
      @media (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .puntos-acumulados {
    font-family: $text-secundary;
    font-size: 14px;
    color: $text-color;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 0.5rem;
    }
  }
}

.contenedor-principal-barras{
  margin: 2.5rem;
}