@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

$mint-green: #76d7c4;
$white: #ffffff;
$pink-border: #fadbd8;
$text-color: #000000;
$hover-color: blue;
$text-primary: "Mochiy Pop One", sans-serif;
$text-secundary: "Mooli", sans-serif;

.barra-de-progreso-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 100%;

  h3 {
    font-family: $text-secundary;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  .progreso-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .barra-de-progreso {
      width: 100%;
      height: 30px;
      background-color: #e0e0e0;
      border-radius: 6px;
      overflow: hidden;

      @media (max-width: 768px) {
        height: 25px;
      }

      .progreso {
        height: 100%;
        background-color: $mint-green;
        transition: width 0.5s ease-in-out;
      }
    }
  }

  .puntos-acumulados {
    font-family: $text-secundary;
    font-size: 14px;
    color: $text-color;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 0.5rem;
    }
  }

  .insignias {
    display: flex;
    justify-content: center;
    gap: 25px; /* Espacio entre las insignias */
    margin-top: 2rem; /* Espacio entre la barra de progreso y las insignias */

    .insignia {
      width: 80px;
      height: 80px;
      transition: opacity 0.5s ease-in-out;

      @media (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.contenedor-principal-barras {
  margin: 2.5rem;
}

.modal-insignia {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); /* Fondo oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;

  .contenido-modal-insignia {
    background: #ffcc00; /* Fondo amarillo para resaltar */
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 80%;
    animation: slideIn 0.5s ease-out;

    h2 {
      font-size: 3rem;
      font-family: $text-secundary;
      margin-bottom: 15px;
      color: #fff;
      text-transform: uppercase;
    }

    p {
      font-size: 1.5rem;
      font-family: $text-secundary;

      margin-bottom: 20px;
      font-weight: bold;
    }

    button {
      padding: 15px 30px;
      font-size: 1.2rem;
      font-family: $text-secundary;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
