@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

$mint-green: #76d7c4;
$white: #ffffff;
$pink-border: #fadbd8;
$text-color: #000000;
$hover-color: blue;

.contenedor-principal {
  h1 {
    font-weight: lighter;
    font-family: "Mochiy Pop One", sans-serif;
    padding: 2.5rem;
    @media (max-width: 768px) {
      font-size: 1rem;
      padding: 2rem;
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .card {
    background-color: #fcf7f3;
    width: 30%;
    height: 12rem;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-10px) scale(1.05) rotateX(5deg) rotateY(5deg);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
      width: 90%;
      height: auto; 
    }
  }

  .card-title {
    font-family: "Mooli", sans-serif;
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-image {
    width: 50%;
    height: 80%;
  }
}
