@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

$mint-green: #76d7c4;
$white: #ffffff;
$pink-border: #fadbd8;
$text-color: #000000;
$hover-color: blue;
$text-primary: "Mochiy Pop One", sans-serif;
$text-secundary: "Mooli", sans-serif;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal input {
  border: none;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.modal {
  font-family: $text-secundary;
  background-color: #fcf7f3;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  
  @media (max-width: 768px) {
    width: 350px;
  }
  .contenedor-close {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    .close-boton {
      padding: 10px;
      border: none;
      cursor: pointer;
      color: black;
      font-size: 16px;
      background-color: transparent;
      &:hover {
        background-color: $mint-green;
      }
    }
  }

  .add-amount {
    display: flex;
    align-items: center;

    input {
      flex: 1;
      padding: 8px;
      margin-right: 10px;
    }
    .boton-agregar-modal {
      padding: 8px 12px;
      color: black;
      cursor: pointer;
      font-size: 16px;
      &:hover {
        background-color: $mint-green;
      }
    }
  }

  .boton-guardar {
    color: #000000;
    font-family: $text-secundary;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.8rem;
    width: 50%;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 20px;
    background-color: $mint-green;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      transform: translateY(-5px) scale(1.05) rotateX(3deg) rotateY(5deg);
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
      background-color: $mint-green;
    }
  }
}
