@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

$mint-green: #76d7c4;
$white: #ffffff;
$pink-border: #fadbd8;
$text-color: #000000;
$hover-color: blue;
$text-primary: "Mochiy Pop One", sans-serif;
$text-secundary: "Mooli", sans-serif;

.goal-card {
  position: relative;
  background-color: #fcf7f3;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 320px;

  @media (max-width: 768px) {
    width: 300px;
  }

  .top-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }

  .goal-card h3 {
    font-family: $text-primary;
    margin-bottom: 8px;
    font-size: 1.3rem;
    font-weight: lighter;
  }

  .goal-score,
  .goal-activities {
    font-family: $text-secundary;
    margin: 8px 0;
    font-size: 1rem;
  }

  .progress-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  .circle-progress {
    font-family: $text-secundary;
    width: 80px;
    height: 80px;
  }

  .congratulations {
    text-align: center;
    margin-top: 10px;
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
